<h1>edit this entry</h1>

<form action="/entries/<%= @entry.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label>Date:</label>
  <input type="date" name="entry[date]" value="<%= @entry.date.strftime('%Y-%m-%d') %>" required><p>

  <p>Uncheck a mood to remove it from this entry.<br>
  The moods you selected for this day are:<br>
  <% @entry.moods.each do |mood| %>
    <input type="checkbox" name="entry[moods][]" value="<%= mood.name%>" <%='checked' if @entry.moods.include?(mood) %>><%= mood.name %></input>
  <% end %> <br><br>

   Add another mood to this entry by selecting one or multiple moods from the list:<br>
   <label>Select a mood from the list:</label><p>

   <select multiple>
     <% @moods.each do |mood| %>
       <option name="entry[moods][]" value="<%= mood.name%>"><%= mood.name %></option>
     <% end %>
   </select><p>

   and/or, add a different mood<br>
   <label>I'm feeling</label>:
   <input type="text" name="entry[moods][]"><p>

     You can uncheck an activity to remove it from this entry.<br>
   <label>The activities you did today are:</label><br>
   <% @activities.each do |activity| %>
     <input type="checkbox" name="entry[activities][]" value="<%= activity.name%>"<%='checked' if @entry.activities.include?(activity) %>> <%= activity.name %></input>
   <% end %> <p>

   <label>Add another activity to this entry:</label><br>
   <input type="text" name="entry[activities][]"><p>

   <label>Update your note:</label><p>
   <input type="text" name="entry[note]" value="<%= @entry.note %>"><p>


   <input type="submit" value="Update Entry"> or
</form>

<form action="/entries/<%= @entry.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete this entry">
</form>
