<h1>Edit Entry</h1>

<form action="/entries/<%= @entry.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label>Date:</label>
  <input type="date" name="entry[date]" value="<%= @entry.date.strftime('%Y-%m-%d') %>" required><p>
  <p>
  <b>The moods you selected for this day are:</b><br>
  <i>Uncheck a mood to remove it from this entry.</i><p>

  <% @entry.moods.each do |mood| %>
    <input type="checkbox" name="entry[moods][]" value="<%= mood.name%>" <%='checked' if @entry.moods.include?(mood) %>><%= mood.name %></input>
  <% end %> <br><br>

   <label>Add another mood to this entry by selecting one or multiple moods from the list.</label>
   <i>You can select multiple moods from the list with <code>cmd + click</code>
     on Mac and <code>ctrl + click</code> on Windows.</i><p>

   <select multiple size="10" name="entry[moods][]" style="height: auto">
     <% @moods.each do |mood| %>
       <option name="entry[moods][]" value="<%= mood.name%>"><%= mood.name %></option>
     <% end %>
   </select><p>

   and/or, add a different mood<br>
   <label>I'm feeling:</label>
   <input type="text" name="entry[moods][]"><p>

   <label>The activities you did today are:</label>
   <i>You can uncheck an activity to remove it from this entry.</i><p>
   <label class="select-activity">
     <span class="label-body">
   <% @activities.each do |activity| %>
     <input type="checkbox" name="entry[activities][]" value="<%= activity.name%>"<%='checked' if @entry.activities.include?(activity) %>><%= activity.name %></input>
   <% end %> </span></label><p>

   <label>Add another activity to this entry:</label><br>
   <input type="text" name="entry[activities][]"><p>


   <label>Update your note:</label><p>
   <textarea name="entry[note]"><%= @entry.note %></textarea><p>

<div class="row">
  <div class="four columns">
   <input type="submit" value="Update Entry">
</form>
  </div>
  <div class="four columns">
     <a class="button" href="/dashboard">Cancel Edit</a>
  </div>
  <div class="four columns">
    <form action="/entries/<%= @entry.id %>/delete" method="post">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <input type="submit" value="Delete this entry">
    </form>
  </div>
</div>
